/* général */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header */

header{
    padding: 20px 100px;
    border-bottom: 5px solid #f9f9f9;
}

header img{
    width: 100px;
}

header nav {
    gap: 45px;
}

header nav a{
    color: black;
    font-weight: bold;
}

header nav button{
    font-weight: bold;
    border: 2px solid #2d96c8;
    border-radius: 60px;
    height: 40px;
    width: 100px;
    color: #2d96c8;
    background: white;

}

.btnblue{
    background: #2d96c8;
    color: white;
}

/* Premium */

.premium{
    margin: 0 100px;
    height: 50vh;
}

h1{
    font-size: 40px;
    font-weight: bold;
}

 h2{
    color: #ef5466;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0 40px;
}

.htexte{
    width: 50%;
}

.premium button {
    border-radius: 60px;
    height: 50px;
    width: 150px;
    font-weight: bold;
}

.btnred{
    background: #ef5466;
    color: white;
    border: 2px solid #ef5466;
    margin-right: 10%;
}

.btnwhite {
    background: white;
    border:2px solid black;
    color: black;
}

.hero{
    width: 50%;
    height: 100%;
    background-image: url(/img/hero.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

/* presentation */

.pres{
    background: #f9f9f9;
    padding: 70px 200px;
    align-items: flex-start;
}

.pres img{
    width: 300px;
}

.presT{
    align-items: flex-start;
    align-content: space-between;
    flex-direction: column;
}

.pres h2{
    color: black;
}

h3{
    font-size: 20px;
    font-weight: bold;
}

.pres p{
    margin: 20px 0;
}